<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS here</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
  </head>
  <body>
    <h3>Hello MEAN!</h3>
  </body>
</html>
